[2018-03-22 23:20] setsuya opened #1 "Armor defense stat range"
Is there any interest in including the range in the defense stat that the armor pieces have? Like the non-upgraded base defense value and the fully upgraded end value of them?

I could really use the info to show the result of the mixed set on my set builder/sharer.

[2018-03-22 23:30] LartTyler commented on #1
I'm planning on adding this information soon-ish in a future update, but I haven't been able to find those values online anywhere. I wanna put it in, but it'll take me a bit to find all those values in game and put them into the API.

[2018-03-23 00:17] setsuya commented on #1
I've been looking around but couldn't find it either. I'll be on the lookout and mention here if I find something around.

[2018-03-23 00:30] LartTyler commented on #1
Awesome, thanks! Once I get a chance to add this feature, I'll post another update in here.

[2018-03-23 04:21] CarlosFdez commented on #1
Your best shot is to pull it from a Japanese site. I know http://mhwg.org/ has them. An example is available here http://mhwg.org/ida/1191.html. I'm planning on adding them to my own project eventually from there.

[2018-03-23 19:34] CarlosFdez commented on #1
I extracted the data they had to https://github.com/CarlosFdez/MHWorldData/blob/master/data/armors/armor_data.json. Feel free to use it, but unfortunately I give no promises as to its accuracy.

[2018-03-28 08:27] RayLuxembourg opened #2 "Weapon upgrades"
Is it possible to add possible upgrades for a weapon ?

[2018-03-28 12:12] LartTyler commented on #2
That information is currently available on the weapons endpoints. Check out the documentation on the `crafting` field: https://github.com/LartTyler/MHWDB-Docs/wiki/Weapons#crafting. On weapons, `crafting.previous` is the ID of the weapon that upgrades into the weapon, and `crafting.branches` is an array of weapons that the weapon can upgrade into.

[2018-03-28 19:46] #2 closed

[2018-03-30 15:30] RayLuxembourg opened #3 "Missing skill info"
Name: Agitator
Info : Increases attack power and affinity when large monsters become enraged
LEVEL 1 :
While active, grants Attack +4 and increases Affinity by 3%

could you add skill info please?

[2018-03-30 15:34] LartTyler commented on #3
The Agitator skill is available in the API, please check out [https://mhw-db.com/skills/52](https://mhw-db.com/skills/52). However, it does look like the modifiers didn't get parsed properly, so I'll work on getting those added. Thanks for the heads up!

[2018-03-30 15:54] RayLuxembourg commented on #3
@LartTyler Hmm  i mean only the info which is summary of the skill
(Info : Increases attack power and affinity when large monsters become enraged)

[2018-03-30 16:02] LartTyler commented on #3
OH! I understand now, my bad. That's definitely something that should have been there from the beginning, but that I never added. Thanks (again) for pointing it out, I'll get to work on it!

[2018-03-30 16:33] RayLuxembourg opened #4 "Charms data rearrangement"
Example:
currently Poison Charm 1 and Poison Charm 2 are living separately

if you could please arrange them like you did with skills

[code]

It would be great just to show charms and then show possible upgrades and levels separately.

[2018-03-30 19:29] LartTyler commented on #4
What are you trying to accomplish with this change? If I did something similar to the [`crafting.branches` field](https://github.com/LartTyler/MHWDB-Docs/wiki/Weapons#crafting) on weapons, would that work? I'd like to avoid making any changes that could cause other projects using the API to break.

[2018-03-30 21:07] LartTyler commented on #3
Skill descriptions have been added in [v1.4.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.4.0).

[2018-03-30 21:07] #3 closed

[2018-03-31 16:29] RayLuxembourg opened #5 "Possible to add rarity to armor sets?"
Would be nice to display rarity to end user.
<img width="529" alt="screen shot 2018-03-31 at 19 28 48" src="https://user-images.githubusercontent.com/15327989/38165281-c74b31ba-3519-11e8-9a06-ce3dab6ba4bc.png">

[2018-03-31 22:48] LartTyler commented on #5
Yep, rarity is another one of those things that I missed, but had intended to add. Thanks for pointing it out!

[2018-03-31 22:52] LartTyler commented on #4
Yeah, that's a good point. Lemme think on this, since it's going to change how I end up implementing crafting / upgrade costs for charms, but I think you're right, it does make more sense that they'd all be under the same umbrella object.

[2018-04-01 07:46] RayLuxembourg opened #6 "Assets scraping"
Is it possible add the assets when scrapping as well?
Most of the data on wiki comes with relevant assets.
If you need help with service like Amazon S3 let me know.

[2018-04-01 14:45] LartTyler commented on #6
I actually started work on that the other day, I just need to wrap a few things up and then it's good push live. Keep an eye on the releases page!

[2018-04-01 15:30] HumbertoMendes opened #7 "Add Decoration Slots to Armors and Weapons"
It would be great if the API returned the decoration slots for armors and weapons.

[2018-04-02 14:29] rjb8682 opened #8 "Dual Blades "Holy Sabers" rarity is incorrect"
The rarity on the Holy Sabers is coming through as 252. Here's is the doc for that weapon:

[code]

[2018-04-02 16:05] LartTyler commented on #8
Thanks for pointing this out. Looks like it's wrong on Kiranico (which is where all my data comes from), and I just didn't notice. I'll get that fixed ASAP.

[2018-04-02 16:09] rjb8682 commented on #8
No problem at all! I'll make sure to email you next time instead of making a GH issue as well. Didn't see your message at the bottom of the wiki page until after I posted the issue :P

Otherwise, fantastic job on this, man! Love it

[2018-04-02 16:17] LartTyler commented on #8
Glad you're enjoying the API! Opening an issue is actually the better way to report bugs or request changes, I need to update that footer.

[2018-04-02 16:37] LartTyler commented on #8
This has been resolved with [v1.5.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.5.0).

[2018-04-02 16:37] #8 closed

[2018-04-02 16:37] LartTyler commented on #5
Armor rarity is now available as of [v1.5.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.5.0).

[2018-04-02 16:37] #5 closed

[2018-04-03 00:24] LartTyler commented on #6
I just realized this was the wrong issue that I responded to the other day. I didn't mean to close it, my bad.

@RayLuxembourg I'd like to add assets, but I'm not sure where I can scrape that information from. Any idea?

[2018-04-03 00:39] LartTyler commented on #4
So here are my two ideas for how this restructure should look. I'd love some input on which one looks better.

**This first one** would kind of achieve what you're asking. It would allow you to relate one charm to another, and it would do so without breaking backwards compatibility.

[code]

In that example, it uses a [similarly styled Crafting object to what I recently implemented on weapons](htt

[2018-04-03 23:35] cheng1994 commented on #6
@LartTyler if you are scraping kiranico every item should contain image assets. Example: https://mhworld.kiranico.com/armor/leather-headgear. They appear to be showing them in a div with a css background url.
`<div class="d-flex mr-3 img-thumbnail" style="width: 96px; height: 96px; background: url(&quot;https://mhworld.kiranico.com/images/armor_m.png&quot;) 0px 0px no-repeat;"></div>`
Scraping the

[2018-04-04 10:42] RayLuxembourg commented on #6
@LartTyler
I found this for icons - http://monsterhunter.wikia.com/wiki/MHW:_Lance_Weapon_Tree
icons for Element and Status Effect
icons for weapons

some more assets http://monsterhunter.wikia.com/wiki/Category:MHW_Images

[2018-04-04 10:51] RayLuxembourg commented on #4
@LartTyler  options 2 is much more logical structure.
You don't really have to keep the name Poison charm one because it's just a level like in skills.

[2018-04-05 21:21] cheng1994 opened #9 "Affinity missing"
I noticed that none of the weapons list affinity. It seems that you do label affinity as a possible key in the attributes; however, it looks like no weapons list affinity. For example, Maladay's Kiss 3 json object below doesn't list affinity when it should be 20% affinity. For display it would be cool to have to appear in the data as a decimal but being a whole number is a non issue.

`
    {

[2018-04-05 21:34] LartTyler commented on #9
Thanks for pointing that out. It definitely should have been there, but I guess I overlooked it.

[2018-04-06 02:10] LartTyler commented on #9
This is fixed as of [v1.5.1](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.5.1).

[2018-04-06 02:10] #9 closed

[2018-04-06 15:44] RayLuxembourg opened #10 "Elder seal is missing (weapon)"

[2018-04-06 15:50] LartTyler commented on #10
Got it, thanks.

[2018-04-06 15:55] LartTyler commented on #10
I see the problem. Elder seal isn't listed anywhere on Kiranico, which is why it got missed. I think I can scrape it from the Monster Hunter Wikia pages ([this page](http://monsterhunter.wikia.com/wiki/MHW:_Great_Sword_Weapon_Tree), lists Elderseal as it's own column). That might actually work out perfectly, since I needed to write a scraper for the wikia anyway, to grab the weapon icons.

[2018-04-06 23:17] RayLuxembourg opened #11 "Attributes Interfaces issues"
ElementTypes:
"Cannot initialize ElementTypes from invalid String value Ice / 210 Blast"
Ice / 210 Blast is not part of the types.
PhaiTypes
    case Power = "Power Element Phial"
    case PowerPhai = "Power Phial"
power phial in 2 different variations.

will update if i find more.

[2018-04-07 18:05] LartTyler commented on #11
Huh. I actually had no idea that any weapons in the game had two elements on them, so the scraper isn't properly parsing elemental damage values for [Twin Nails](http://mhw-db.com/weapons/342) and [Fire and Ice](http://mhw-db.com/weapons/343). I think those are the only two, but if you find any others let me know.

[2018-04-07 22:56] LartTyler commented on #10
@RayLuxembourg Elderseal has been added for most weapons with [v1.5.4](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.5.4). I'm using the MHW Wikia as my source, but it doesn't have elderseal listed for all weapons. If you can find another source for elderseal values, I'll get to work on writing a scraper for it, but if not I'll just keep an eye on the wikia and add them when possible.

[2018-04-08 10:12] RayLuxembourg commented on #10
@LartTyler not all weapons posses elder seal. the default value should be none or something.

[2018-04-08 10:51] LartTyler commented on #10
I know not every weapon has elderseal, I meant that the place I'm scraping the values from has no values listed at all for some weapon types. For example, I know that the Nergal insect glaives have high elderseal, but it isn't listed anywhere on the Wikia. I'm going to work on a way to add them manually without messing up the rest of the scraping system, but I wanted to get 1.5.4 out before that,

[2018-04-09 07:41] RayLuxembourg commented on #10
If you want I can build a Data management system for you to edit data easily.
You will only need to provide valid API for POST,PUT

[2018-04-09 17:44] LartTyler commented on #10
I appreciate the offer, but no thank you. The API is intentionally read-only, and any change to the data in the API is actually done at scrape time, and then merged into the production database when a new version is deployed.

I should have elderseal values added soon for all weapons except for insect glaives, light bowguns, and heavy bowguns, since I couldn't find those anywhere online. If you've

[2018-04-10 04:25] HumbertoMendes commented on #4
Since you're going to change the charms, is it possible to add their rarity as well?

[2018-04-10 13:01] LartTyler commented on #4
@HumbertoMendes Yeah, I can add that. It might take a little longer though, since neither Kiranico nor the Monster Hunter wikia list rarity for charms. The only place I can find it is on [https://monsterhunterworld.wiki.fextralife.com](https://monsterhunterworld.wiki.fextralife.com), which I don't have a scraper for just yet. I'll add it to my backlog.

[2018-04-10 17:37] LartTyler commented on #10
Elderseal values for hunting horns, gunlances, and switch axes is now available in the API. The last 3 (insect glaives, light bowguns, and heavy bowguns) will be added soon.

[2018-04-12 03:36] LartTyler commented on #6
Preview images for armor is available in [v1.6.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.6.0). There are a few issues with the data, caused by Kiranico having incomplete or incorrect information on the site, but it's stuff that I'm sure will be resolved over time. Weapon previews are next, followed by weapon icons.

[2018-04-12 03:39] cheng1994 commented on #6
@LartTyler Thanks man! Great job!

[2018-04-12 18:46] LartTyler commented on #11
This is resolved with [v1.6.1](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.6.1). There are three new possible properties on a weapon's Attributes object: `elementType2`, `elementDamage2`, and `elementHidden2`. For any weapon with dual elements (at the moment, just Twin Nails and Fire and Ice), those fields will be populated with their secondary element information.

[2018-04-12 18:46] #11 closed

[2018-04-13 11:08] RayLuxembourg commented on #10
@LartTyler have you pushed the changes?
currently not getting elderseal nowhere.

[2018-04-13 12:48] LartTyler commented on #10
I know I pushed it, and I verified that it was available in production, but I think the last update may have messed something up. Give me a bit to look into it.

[2018-04-13 12:57] LartTyler commented on #10
@RayLuxembourg It looks like v1.6.1 had accidentally removed elderseal values across the board. As of [v1.6.2](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.6.2), this has been fixed.

[2018-04-13 18:50] RayLuxembourg opened #12 "Switch Axe wrong types.."
"Cannot initialize PhaiTypes from invalid String value Poison Phial 420"
"Cannot initialize PhaiTypes from invalid String value Poison Phial 300"

and so on.
I think something got mixed in there.

[2018-04-13 18:53] RayLuxembourg commented on #4
@LartTyler please add materials for craft/upgrade as well.

[2018-04-13 19:03] LartTyler commented on #12
That's actually intentional. Please see [the Phial Types](https://github.com/LartTyler/MHWDB-Docs/wiki/Attributes-Object#phial-types) section of the attributes page. Some phial types (specifically, elemental phial types such as poison or para) have a strength associated with them, whereas the normal phial types (like impact or power) do not.

[2018-04-13 19:06] LartTyler commented on #4
@RayLuxembourg Yep, material costs for charms (and armor as well) is in the works.

[2018-04-13 19:14] RayLuxembourg commented on #12
@LartTyler I am not sure how i can make an enum with dynamic number in the end O_O

[2018-04-13 19:31] RayLuxembourg opened #13 "Weapons decoration slots && Armor decoration slots (weird data)"
This shouldn't be living inside attributes well at least not like it is now.
More practical arrangement is
slots:[
{rank:1},
{rank:2},
{rank:3}
]
if array empty , item has no decoration slots.
else iterate array and do what you want.
currently it's really weird.
I need to arrange assets according to the data but have to write weird logic to do so.
<img width="512" alt="screen shot 2018-04-13 at 22

[2018-04-13 19:34] LartTyler commented on #12
In retrospect, it may not be the best way to structure that. I hadn't really considered how that field would be used. I'm going to plan on splitting that up into two fields, `phialType` (which exists already) and `phialPower`.

[2018-04-13 19:37] cheng1994 commented on #12
@RayLuxembourg You can use regex to capture the number, something like this:

`/Phial (\d+)/g`

And based on the data the only phial types that do not have an appended value are Impact, Power, and Element Phials so you can do a conditional statement to check for those phials before running a regex against the attribute.

[2018-04-13 19:40] RayLuxembourg commented on #12
@cheng1994
I am using decodable structs in swift 4.
Currently in order to implement those values i will have to rewrite everything and implement custom constructor to handle dynamic values in that string to set everything correctly.

[2018-04-13 19:47] LartTyler commented on #12
@RayLuxembourg Do you really need that field to be an enum? If you're just using it for presentation, could it not just be a plain string?

[2018-04-13 19:54] RayLuxembourg commented on #12
@LartTyler I can make it simple string then.
Though types in wiki are miss leading.

[2018-04-13 20:17] #12 closed

[2018-04-14 18:06] kclay commented on #6
@LartTyler I know this is already completed and great work but may want to look into this site https://monsterhunterworld.wiki.fextralife.com/Alloy+Armor+Set

Most of their images follow a pretty common naming convention, I actually was going to take your api and make a script to map images for weapons,armor and skills. Now they do have some odd cases where they use a base image for say all 3 leve

[2018-04-15 01:07] HumbertoMendes opened #14 "Add Skill Name to Skill property"
Could you please add the Skill Name when returning the Skill property? I can parse it using the slug, but it would be awesome if the name returned along with the other properties.

[2018-04-15 08:53] RayLuxembourg opened #15 "Missing skills (I think monster skills)"
https://monsterhunterworld.wiki.fextralife.com/Skills

skills like Anjanath Power,
Diablos Power

if possible add them to separate skills category like , Monster skills

[2018-04-15 19:25] LartTyler commented on #6
@kclay I don't actually consider this finished yet, I've got plans to add weapon images next. I didn't realize that fextralife had the images with transparent backgrounds though, so I may switch the API over to pull images from there instead. Thanks for pointing that out!

[2018-04-16 01:39] LartTyler commented on #14
Hmm.. So here's the thing. If I add something like `skillName` to ranks, that column doesn't exist on the skill ranks table in the DB, so it wouldn't be query-able. Which isn't necessarily an issue, but it just means that I need to start marking fields as query-able or not, and it makes things a bit less intuitive for a developer in the future.

Not that this is a great solution, but would it be t

[2018-04-16 01:40] LartTyler commented on #15
Yep, you're right, it doesn't look like set skills made it in. I'll start looking into that, thanks!

[2018-04-16 02:00] baaronp7 commented on #14
Tyler,

Could you just have a "displayName" in the skill property? Having to query
again to get the name is a hassel expecially when dealing with such a large
data set when interacting over each piece of armor. Having to call the
skill endpoint for each instance of a skill in a armor piece adds
exponential amount of calls.

Thanks,
Aaron

On Sun, Apr 15, 2018, 6:39 PM Tyler Lartonoix <notification

[2018-04-16 02:48] LartTyler commented on #14
Yep, that was the counterargument I was expecting. I'll add it to my backlog.

[2018-04-16 02:50] baaronp7 commented on #14
Thanks

On Sun, Apr 15, 2018, 7:48 PM Tyler Lartonoix <notifications@github.com>
wrote:

[2018-04-16 17:52] LartTyler commented on #14
The `skillName` field is now available on skill ranks in [v1.6.3](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.6.3).

[2018-04-16 17:52] #14 closed

[2018-04-16 18:49] HumbertoMendes commented on #14
Thank you Tyler.

[2018-04-16 19:04] HumbertoMendes opened #16 "Add "craftingMaterials" property to Armors and Charms"
Hi Tyler,

Do you have any plans on adding the crafting materials to Armors and Charms just like you did to weapons?

Thank you.

[2018-04-16 19:07] LartTyler commented on #16
Yep, material costs for armors and charms is a planned feature, I just didn't have as much time to put into the project this last weekend as I'd hoped I would.

[2018-04-16 19:39] LartTyler commented on #15
![](https://github.trello.services/images/mini-trello-icon.png) [Armor set skills](https://trello.com/c/yYuj2Yx5/1-armor-set-skills)

[2018-04-16 22:04] baaronp7 commented on #6
Yes transparent bg images would be amazing!

On Sun, Apr 15, 2018, 12:25 PM Tyler Lartonoix <notifications@github.com>
wrote:

[2018-04-16 22:41] kclay commented on #6
@LartTyler I created this script for my personal use. The purpose of it was to restructure the data models for my needs( restructure slots and sharpness,element models).
https://gist.github.com/kclay/a9216345c4c78edcb3561e46a8d2fe80

The `images` function handles all the cases I could find for getting images from fextralife. It handles looking for both male and female images as well as the base pr

[2018-04-16 23:47] kclay opened #17 "Armor set bonus"
I looked at all endpoints and I didn't run across this. Is there currently anyway to derive the skills that are tied to a set bonus.. ie 2 pieces etc?

[2018-04-16 23:48] kclay commented on #13
Agree this would be a good change, I actually have something like this for my needs.

[2018-04-17 00:40] LartTyler commented on #17
Yep, that's been pointed out in #15. Currently working on it, I hope to have it out sometime in the next few days.

[2018-04-17 00:40] #17 closed

[2018-04-17 00:46] kclay commented on #17
O sorry I thought that was something totally different,my apologies.

[2018-04-17 00:54] LartTyler commented on #17
No worries!

[2018-04-17 08:59] RayLuxembourg commented on #13
@kclay what are you developing :O?

[2018-04-17 12:25] RayLuxembourg opened #18 "(Question) Will the project become open source ?"

[2018-04-17 12:49] LartTyler commented on #13
I need to pick a format that works best with how the API is set up, but I'm thinking of changing slots to something like this:

[code]

[code]

Basically, just an array with 0 to 3 elements, each one an integer representing the rank of the slot.

[2018-04-17 13:49] kclay commented on #13
@LartTyler I sorta like what @RayLuxembourg proposed. It allows easy attaching on other properties without any data remodeling. For instance, if I'm making a build simulator I would want my builder to show what slots I have and what deco is set on that slot. This can be achieved by simply doing

[code]

Not really a big deal as we can always remodel the data client side, but it seems this would so

[2018-04-17 14:34] kclay commented on #13
Nice library fooled me. Can't wait for #15 its really the only piece I'm missing right now for this builder. So for now I'm going to work on the searching and computing all the stats values.

[2018-04-17 14:43] cheng1994 commented on #13
@LartTyler So to clarify you plan on moving slots to a separate key in each armor and weapon piece and then follow it with children with key rank? I'd like to prep my application for the change since I've already made slotsRank1 work in my case. But I'm more than open for improvements.

Also if anyone wants to take a look my application is at [The Research Commision](https://theresearchcommission.

[2018-04-17 15:13] LartTyler commented on #13
@cheng1994 Sorry, reading over that again I'm realizing that my plan wasn't very clear.

Any change I make to an existing endpoint will be backwards compatible, with a deprecation notice in the changelog of the release detailing which release or on what date the old information will be removed.

As far as this change goes, I'm going to leave the `slotsRank#` fields as they are in the `attributes`

[2018-04-17 20:03] LartTyler commented on #6
@kclay If there are other structure changes you'd like to discuss (aside from what we were talking about earlier in #13), feel free to open another issue. I can't promise the changes will happen, but I'd definitely be interested in hearing some ideas.

As far as assets are concerned, I just finished writing a scraper for the fextralife wiki for #15, so once I've got my backlog knocked down some, I

[2018-04-18 00:59] LartTyler commented on #15
@RayLuxembourg Set bonuses are available as of [v1.7.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.7.0). For more info, check out the [`bonus` field](https://github.com/LartTyler/MHWDB-Docs/wiki/Armor-Sets#fields) on `ArmorSet` objects.

[2018-04-18 00:59] #15 closed

[2018-04-18 07:41] RayLuxembourg opened #19 "(Refactor) Armor Resistance"
I would love us to move away slowly from the attributes object to more accurate objects.
Possible we add another object to armor
armor:{
[code]
Instead of relying on attributes objects which is very general It would be nice to implement this type:Resistance object inside armor pieces and if possible , default value of 0 if no value at all.
that way it wont be optional value anymore.
also defense i

[2018-04-18 07:49] RayLuxembourg commented on #6
@LartTyler Just in case you haven't seen those amazing assets.
https://monsterhunterworld.wiki.fextralife.com/Armor
https://monsterhunterworld.wiki.fextralife.com/Chest+Armor

they have proper transparent assets that can be displayed in any nice view.
Can't wait to have those assets in the app.

[2018-04-18 12:47] LartTyler commented on #6
@RayLuxembourg Yep, I saw them. I'll be pulling those into the API once I knock my backlog down some, as well as using fextralife for weapon assets in the future.

[2018-04-18 12:54] LartTyler commented on #19
Yeah, in retrospect the generic `attributes` object was a pretty lazy way to store all that information. I'll add this to the backlog, thanks for the input!

[2018-04-18 17:28] RayLuxembourg opened #20 "(Missing-Data) Armor Sets"
Not sure if some of the data was mentioned here before, so i'll add this to make sure.
Currently I have this view I am working on
<img width="529" alt="screen shot 2018-04-18 at 20 21 18" src="https://user-images.githubusercontent.com/15327989/38947820-90baf320-4346-11e8-8db8-3452ea06c5f5.png">

Missing data list to complete the view:
Total craft cost,
total resistance + defense,
Full set skills,

[2018-04-18 18:10] LartTyler commented on #20
All of that information should be available in the API already. Retrieving an armor set includes all of the pieces in the set, so you should be able to calculate all of the information that you need.

For example, since I think you've mentioned that you're using Swift, if you wanted to get the total level of all the skills in the armor set, you could do something like this:

[code]

As far as set

[2018-04-18 21:00] #20 closed

[2018-04-20 06:54] kclay opened #21 "(Question) Return a compact version of a resource"
So I see that you have added the set bonus, perfect timing I must say. But I wanted to know if it is possible to return a subset of the data.

Take https://mhw-db.com/armor/sets/111 for example.

It would be nice to have either of the following
- https://mhw-db.com/armor/sets?fields=id,name,rank,pieces.id,bonus
- https://mhw-db.com/armor/sets/111?fields=id,name,rank,pieces.id,bonus
- https://mhw-d

[2018-04-20 12:35] kclay opened #22 "(Refactor) Armor and Weapon refactor"
Note that this can be done at the top-level or `attributes`. I currently just have it at the `attributes` in my script that restructures the data but anyways.

## Weapon
Additions are `element` , `sharpness`, and `images`.
For `images` i've added `base` and `preview`, in some cases fextralife.com may not have a male or female but have previews and base images, so this allows to substitute. Another

[2018-04-20 12:51] LartTyler commented on #21
I've been wanting to add the ability to project certain fields, I just haven't had a chance to yet. The API is set up in a way that this would be easy enough to add, it's just a matter of prioritizing it. I'll keep you posted!

[2018-04-20 13:05] LartTyler commented on #22
So, to address your suggestions in order:

1. `element` - When I was working on #11, I actually considered using this format for elements. At the time, I ran into some snags with how MySQL handles searching JSON data, but it's something I plan on revisiting.
2. `sharpness` - Yes, definitely a very good suggestion. I mentioned this in a conversation with @RayLuxembourg in #19, but the entire `attri

[2018-04-20 13:17] kclay commented on #22
Sweet, looking forward. Just want to say thanks for all of this esp the recent armor set addition it was the last piece . I  just hope this designer doesn't get mad I brought his designs to life lol. O well we will see, it was fun making this project anyways.. in due time :smirk:

[2018-04-21 17:35] LartTyler commented on #22
Your suggested changes to the defense values on armor is in [v1.8.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.8.0). I'll keep you posted regarding your other suggestions!

[2018-04-21 17:36] LartTyler commented on #19
Armor resistances have been migrated to a dedicated `resistances` field in [v1.8.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.8.0).

[2018-04-21 17:36] #19 closed

[2018-04-21 17:37] LartTyler commented on #13
Slot information has been migrated to the new format we discussed in [v1.8.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.8.0).

[2018-04-21 17:37] #13 closed

[2018-04-21 17:39] LartTyler commented on #1
Upgraded armor defense and augmented defense are now in the API as of [v1.8.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.8.0). Thank you to @CarlosFdez for providing the information, it made this much easier to add!

[2018-04-21 17:39] #1 closed

[2018-04-21 17:45] LartTyler commented on #18
I decided to open source the project. I'll be adding links and info for the wiki as well, but the repository can be found [here](https://github.com/LartTyler/MHWDB-API).

[2018-04-21 17:45] #18 closed

[2018-04-21 18:07] kclay commented on #22
NICE! Thanks

[2018-04-22 20:25] HumbertoMendes opened #23 "Defense property in Weapons"
Hi,

Some weapons have defense bonuses (I.E. Barroth Blaster 3), but they are not being listed. Are you planning on adding them as well?

Thanks, and keep up the good work!

[2018-04-23 19:31] LartTyler commented on #23
I am now! I'd honestly overlooked them, but it should definitely be in there. I'll get it added to the backlog. Thanks!

[2018-04-24 17:59] HumbertoMendes opened #24 "Add more information to Decorations"
Hi Tyler,

Since you are going to restructure the charms, I was thinking that maybe you could follow the same structure for the Decorations as well.

Something like:

[code]

What do you think?

[2018-04-24 19:26] HumbertoMendes commented on #24
@cheng1994 Exactly my thoughts. I think having it as an array now may prevent future incompatibilities in the future if (or even when) Capcom adds decorations with multiple skills.

[2018-04-24 19:30] LartTyler commented on #24
That's a good point. I'd completely forgotten about multi-skill decorations in previous versions, and I could definitely see that being a thing in World at some point. I'll plan on making it an array, thanks for the input!

[2018-04-28 16:17] LartTyler commented on #24
This has been added in [v1.9.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.9.0).

[2018-04-28 16:17] #24 closed

[2018-05-01 15:19] LartTyler commented on #23
This has been added in [v1.9.1](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.9.1).

[2018-05-01 15:19] #23 closed

[2018-05-05 21:01] LartTyler commented on #16
@HumbertoMendes As of [v1.10.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.10.0), armor now has crafting costs as well!

[2018-05-05 21:01] #16 closed

[2018-05-06 00:08] HumbertoMendes commented on #16
Thank you Tyler!

[2018-05-15 12:32] Rixium opened #27 "Buy price for Crafting"
I can't see anything for this in the database. There is a crafting cost associated with items, that I don't have access to through this API. Could we get this functionality?

![image](https://user-images.githubusercontent.com/3577800/40056771-45c35714-5844-11e8-9f41-e46df362ac52.png)

[2018-05-15 13:28] LartTyler commented on #27
Yep, I'll add this to the backlog. The current crafting info is pulled from Kiranico, which doesn't include costs, and I haven't had a chance to rewrite it to pull the missing info from another source. I'll keep you posted!

[2018-05-15 14:05] Rixium commented on #27
Awesome, thanks!

[2018-05-16 15:13] LartTyler commented on #21
@kclay This has (finally) been added with [v1.12.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.12.0). Field projection can be done via the `p` query parameter, and full usage documentation can be found [here](https://docs.mhw-db.com/#projecting-results).

[2018-05-16 15:13] #21 closed

[2018-05-19 16:42] declanjcurrey opened #29 "Some GET requests return error"
Some GET requests don't work. This could be due to missing data but for example:

Trying to get all weapons using https://mhw-db.com/weapons - returns an error.

Searching for a weapon based on its ID also fails on weapons with an ID > 100, for example:

https://mhw-db.com/weapons/179 returns the same error as above.

I'm wondering if this could be fixed because the API when data is returned! Than

[2018-05-20 05:00] LartTyler commented on #29
I'm seeing this happen too. It definitely shouldn't be. I'm looking into it now, I'll update you once I figure out what's up.

[2018-05-20 05:03] LartTyler commented on #29
It looks like mysql had crashed earlier, and failed to restart properly. Everything should be working now!

[2018-05-20 05:03] #29 closed

[2018-06-20 01:39] karisd opened #30 "Unable to connect to weapons endpoint"
Hey Tyler,

**First of all, awesome API you built!**

I'm having some issue with your endpoint at https://mhw-db.com/weapons

I am receiving an error:
Failed to load https://mhw-db.com/weapons: The 'Access-Control-Allow-Origin' header contains the invalid value ''. Origin 'http://localhost:3000' is therefore not allowed access. Have the server send the header with a valid value, or, if an opaque r

[2018-06-20 03:01] LartTyler commented on #30
@karisd Glad you're liking the API! All endpoints should have the necessary CORS headers, so you may want to check your client configuration. If you're not able to resolve the issue on your end, feel free to send me the relevant code snippet, and I'll see if I can point you in the right direction.

[2018-06-20 08:15] Snitzle opened #31 "No Monster Data"
It would be fantastic to be able to pull through data on monsters. Any chance this is in the pipeline?

[2018-06-20 15:03] LartTyler commented on #31
It's something that I'd like to add, I just haven't had much time lately to go in and add new features. I might have some free time this weekend that I can look into getting some basic information added. Were you just looking for things like elemental resistances and possible drops?

[2018-06-20 19:42] Snitzle commented on #31
Types, Weaknesses, Item drops that sort of thing. Currently learning JS and would like to use this for getting my first app together. Does help I'm in love with MH and would enjoy using my own tool too aha.

[2018-06-22 01:35] karisd commented on #30
Hey! Still not sure what I'm doing wrong. It's a React app, here is my code. I call this method when loading components to the UI.
[code]

The fetch will work with `armor `but doesn't for `weapons`. I'll keep researching, but if anything sticks out to you, let me know.

Thanks!

[2018-06-22 04:19] LartTyler commented on #30
Your code looks fine, so just in case, I went and cleared out the Cloudflare cache. I'm wondering if maybe it's just some weirdness with how that endpoint got cached. Make sure you clear your browser's cache before trying again, and please let me know if it continues to happen.

[2018-06-22 22:56] karisd commented on #30
@LartTyler Hey, that did the trick. Tried it again before clearing browser cache and it worked. Thanks for your help!!
![image](https://user-images.githubusercontent.com/15019218/41802262-2d1ca994-7645-11e8-8745-94144dd93c4e.png)

[2018-06-25 03:17] #30 closed

[2018-07-29 23:35] yoonhok524 commented on #31
Oh... it is already requested...
LartTyler, I appreciate your good data.
If the monster data is added, it may be the Best of the API.
How does it going on?

[2018-07-30 02:46] yoonhok524 opened #32 "SkillRank Modifiers is array or object?"
There is two type of data in SkillRank Modifiers.

Sometimes, it was array.
    - "modifiers": [],

But sometimes it was object.
    - "modifiers": {
                          "health": 15
                      },

Becuase of this difference, parsing is not easy...

[2018-07-30 14:51] LartTyler commented on #32
Hmm.. It should definitely be coming back as an object every time. Lemme take a look, and I'll get back to you.

[2018-07-30 14:53] LartTyler commented on #31
It's definitely planned, but I've kinda put new features on hold for the time being, until I have more time to commit to the project. Once I get a chance to start working on it, I'll let you know!

[2018-07-30 14:54] Snitzle commented on #31
I appreciate the effort, thanks!

On 30 Jul 2018 at 15:53, <Tyler Lartonoix <notifications@github.com>>
wrote:

It's definitely planned, but I've kinda put new features on hold for the
time being, until I have more time to commit to the project. Once I get a
chance to start working on it, I'll let you know!

—
You are receiving this because you authored the thread.
Reply to this email directly, vi

[2018-07-30 15:13] #32 closed

[2018-07-30 15:16] LartTyler commented on #32
@yoonhok524 This should be fixed now. Thanks for pointing it out!

[2018-07-31 04:05] yoonhok524 commented on #31
Thanks to reply.
You know, MHW PC version will be launched soon.
So I want to use the Monster API before it. T.T
Anyway I appreciate your effort :)

[2018-08-08 23:23] TrentWest7190 opened #33 "Exact Sharpness Values"
I have the exact values for each weapon for each level of sharpness.

[Here](https://github.com/TrentWest7190/critical-eye/blob/master/src/db/weapons.json)

Sorry it isn't organized better, I did this like half a year ago at this point when the game first came out, so it's also going to be missing any of the weapons that were added after the game's release (deviljho and onwards).

I can guarantee

[2018-08-09 17:36] LartTyler commented on #33
That's awesome. Do you still have the script you used to scrape the data? If so, I could integrate that into the API's own scraping process, to get up to date information.

[2018-08-14 16:46] TrentWest7190 commented on #33
[Here's the script](https://gist.github.com/TrentWest7190/efe7a9eaa4090076537565c5d95b41c3)

It's uh... Really, *really* ugly and probably super, super unreadable (since I made it thinking that nobody else would ever see it, lol). It also uses an id system that I made myself with hardcoded start and end values, so it may not be super usable for you. The important part is just the `getSharpnessData

[2018-08-14 18:16] LartTyler commented on #33
Thanks! That'll be very helpful for integrating the data into the API.

[2018-08-16 16:57] LartTyler commented on #33
@TrentWest7190 Question for you. I was going over the script you used, and I noticed that you're getting the sharpness hit count by taking the width of the individual sharpness color bars, and dividing it by 0.4. How did you determine that was the ratio for the bar width to hit count? Was it just trial and error, or was there more to it?

[2018-08-16 17:18] TrentWest7190 commented on #33
It was a bit of trial and error and also just some logic. By in-game testing combined with the description of the handicraft skill, we know that each level of handicraft adds 10 hits to the weapon's sharpness. 10 is also the smallest possible sliver of sharpness that a level of sharpness can have (i.e. there is no weapon with only 5 hits of blue sharpness, etc). By comparing in-game testing to the

[2018-08-16 18:12] LartTyler commented on #33
Gotcha, I appreciate the explanation. I just wanted to make sure I understood the data before I started work on adding it to the API.

[2018-08-22 00:47] LartTyler commented on #33
This has been added with [v1.13.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.13.0).

[2018-08-22 00:47] #33 closed

[2018-08-22 00:48] LartTyler commented on #10
ALL elderseal values are now (finally!) available with [v1.13.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.13.0).

[2018-08-22 00:48] #10 closed

[2018-09-01 13:17] Balothar12 opened #35 "Health-modifier is undocumented"
Nothing major, but in the list of skill-rank modifiers at https://docs.mhw-db.com/#skillrank-modifiers the "health" modifier doesn't seem to be listed even though it's a valid value for e.g. https://mhw-db.com/skills/17 (or I am blind and can't see it, in which case I apologize).

[2018-09-01 18:13] LartTyler commented on #35
Good catch. I'll get it added to the docs, thank you!

[2018-09-01 18:37] LartTyler commented on #35
Should be resolved now. I know GitHub Pages likes to cache things pretty heavily, so if you don't see it immediately try clearing your cache.

[2018-09-01 18:37] #35 closed

[2018-09-08 10:02] Balothar12 opened #36 "Dragon Resistance Skill modifiers for resistDragon missing"
The SkillRanks for the Dragon Resistance skill don't contain the modifiers for "resistDragon" for all three ranks, only the "defense" modifier that is applied on the third rank.

[code]
returns

[code]

[2018-09-17 20:08] bsides opened #37 "Issue with Fire and Ice (dual blades)"
Hi! First let me thank you for your work on this api, it’s helping me build a tool.

Now for the bug itself: the weapon ID 343, Fire and Ice, shows only the element Ice in it but its known to have Blast element as well, which isn’t returning in the element array. Am I missing something? I don’t know if it’s happening only with this weapon but I thought reporting would be good to check.

Thanks aga

[2018-09-17 20:38] LartTyler commented on #37
Hey @bsides!

Nope, it doesn't look like you're missing anything, it's in there incorrectly. I'm aware of several items in the API that are incorrect, and I'm working through getting them fixed. As it stands right now, the API depends on scraped data in order to update, and since so many sources have incorrect or incomplete information, I've been working to move away from the reliance on scraped d

[2018-09-17 20:45] bsides commented on #37
Thanks @LartTyler I really appreciate your quick answer. Regarding the rest of the work, if you need any help let me know. I'm not that good with Ruby but I can try a thing or two.

[2018-09-17 20:50] LartTyler commented on #37
The project itself is actually written in PHP. This repository just hosts the documentation, which is generated by a Ruby project named Slate.

If you're interested in contributing, I could also use some Typescript help. The solution to using scrapers was to build a system that would allow anyone to submit changes to the API (kind of like a wiki does), and for that I'll need a UI. I can build the

[2018-09-17 22:35] bsides commented on #37
I do know more of PHP but since I don't use it for a long time a lot of things must have changed so I don't think I'll be much of help there.

But in Typescript I sure can help. I'm a frontend developer and I'm building a tool to make/save build sets in React right now. I understand you need a simple crud and that would be easy to do (and maybe we can get some extra lib to do the hard lifting for

[2018-09-17 23:03] LartTyler commented on #37
I'm wrapping up the API endpoints to support a contribution system, but I'm pretty close to a working prototype. I don't have any docs typed up for the system yet, so it might be a bit of a pain to write a frontend for, but if you're interested in giving it a shot I'd really appreciate the help.

As an example, working with skills in the contrib system would use the following endpoints. Such endpo

[2019-01-04 09:52] kuroham opened #38 "Resource slug problem"
The armor and item can't seem to be parsed through the slug but only the id.
I'm really new to programming and I'm trying to write a small program for my cousin to check on the items as well as practice my coding skills.
Any advice on how to solve this problem?
(Great work by the way! The weapon and decoration parts are working as smooth as butter)

[2019-01-04 13:52] LartTyler commented on #38
I think that's a case of the docs being a bit out of date. I've been phasing out the `slug` field on most objects, which would be why it works for weapons but not for armor or items. Do you need to use the slug, or will the ID work for your project? The API's next update will remove slug completely, since very few people are actually using it.

[2019-01-04 14:54] kuroham commented on #38
It would be better for me to use the slugs since the way my project works is to prompt the user to enter the name of a certain item(weapons, armor, charms etc), so using the slug is more convenient since I can just concatenate the string to https://mhw-db.com  and get the information I need without much hassle.

[2019-01-04 15:08] LartTyler commented on #38
As far as pulling up an item by it's name, you should check out the [Searching the API](https://docs.mhw-db.com/#searching-the-api) section of the docs.

For example, to retrieve any armor piece named "Leather Gloves", you could send a GET request to https://mhw-db.com/armor?q={"name":"Leather+Gloves"}. It'll return an array, but since the name is unique, you can just grab the first item in the ar

[2019-01-04 15:36] LartTyler commented on #38
No problem! Feel free to reach out if you have any other questions.

[2019-01-04 15:36] #38 closed

[2019-01-22 17:01] muradkh786 opened #39 "Kulve Taroth updated equipment"
Is there anything you might need help with, with getting Kulve information into the API?

[2019-01-23 00:57] LartTyler commented on #39
If you know any Typescript and would be willing to contribute to the contribution system, any help would be appreciated. At the moment, the API depends on scraping multiple fan sites for data, which is too inconsistent / inaccurate for me to continue using. Once I finish working on updating the API to allow changes without scraping, I'll be able to get the Kulve weapons (and all the other missing

[2019-01-23 01:43] muradkh786 commented on #39
Sure, I'm okay at using JavaScript and I can look into TypeScript. Thanks for the update! I'll see what I can manage this weekend.

[2019-01-30 19:05] #39 closed

[2019-02-13 20:17] LartTyler opened #40 "Server currently down"
The API server and image assets server are both currently down due to a payment issue in AWS. The payment issue has been resolved, but the servers will remain down until AWS support can restore the account. I'll post any updates on this issue once I have more information.

[2019-02-13 21:43] LartTyler commented on #40
The servers are now back online.

[2019-02-13 21:43] #40 closed

[2019-02-28 10:03] Acantore commented on #31
Well hello there!
I was wondering if there is any updates on this topic.
Love your API and docs! Keep up the good work!

Greetings from germany by the way.

[2019-02-28 15:50] LartTyler commented on #31
@Acantore As part of [this pull request](https://github.com/LartTyler/MHWDB-API/pull/79), I've added support for monster data (as well as a few other things), but that release is currently in limbo while I work on moving the API off of a scraper based system to collect it's data to something that I (and select contributors) can manage by hand. I haven't had as much time as I'd like to devote to it

[2019-03-05 16:53] Acantore commented on #31
Thank you for your kind reply.
I will keep an eye open and watch the repository, maybe look into contributing after i finished my WebApp.

Keep up the good work!

[2019-03-17 01:44] AberrantWolf opened #41 "$like query can't find Beta armors"
The following query for Alpha Nergigante armors returns the relevant pieces:
`https://mhw-db.com/armor?q={"name":{"$like":"Nerg%Alpha"}}`

However, changing the "Alpha" to "Beta" returns a formatting error.
`https://mhw-db.com/armor?q={"name":{"$like":"Nerg%Beta"}}`

It looks like I can add use "Nerg%B%", which will find the Beta items (though it also returns the vambraces -- so I'm guessing case

[2019-03-17 03:08] LartTyler commented on #41
Are you properly URL encoding the percent sign? Loading [https://mhw-db.com/armor?q={"name":{"$like":"Nerg%25Beta"}}](https://mhw-db.com/armor?q={"name":{"$like":"Nerg%25Beta"}}) (where the `%` is encoded as `%25`) should work as expected.

[2019-03-17 06:27] AberrantWolf commented on #41
That was it. My bad, cheers!

[2019-03-17 06:27] #41 closed

[2019-03-17 14:48] AberrantWolf opened #42 "Is it possible to combine query with projection?"
I can query fine and I can project fine, but I can't figure out how to combine both. I only need a small subset of information at the moment, and I'd rather not require all the extra time to upload/download tons of information my program isn't using. Hopefully it's just some syntax that I'm missing?

And if so, can it go into the docs somewhere (or is it already there and I just missed it)?

[2019-03-17 18:42] LartTyler commented on #42
Yes, it is possible to combine both query and projection. If you take a look at the docs for [`GET /weapons` ](https://docs.mhw-db.com/#get-all-weapons) (as an example), you'll see that it lists two GET parameters, `p` and `q`. You can use both at the same time, like so:

[https://mhw-db.com/weapons?q={"type":"charge-blade"}&p={"id":true,"name":true}](https://mhw-db.com/weapons?q={"type":"charge-b

[2019-03-18 01:42] AberrantWolf commented on #42
Ah! It was ampersand! Cheers!

[2019-03-18 01:42] #42 closed

[2019-04-13 22:36] LartTyler commented on #37
This has been resolved. ["Fire and Ice"](https://mhw-db.com/weapons/343) now has both elements listed.

[2019-04-13 22:37] #37 closed

[2019-04-13 22:39] LartTyler commented on #31
Monster support has been added with [v1.14.0](https://github.com/LartTyler/MHWDB-Docs/releases/tag/1.14.0). Since the information now needs to be manually entered, I'll be doing that over the next few days, and will update this issue once everything is in there. If you guys are still interested in this and would like to help with some data entry, let me know!

[2019-04-13 22:50] LartTyler commented on #36
This is now correct, sorry for the delayed response. Thank you for bringing this to my attention!

[2019-04-13 22:50] #36 closed

[2019-08-20 05:45] chrisdavidmeek opened #45 "Monster Pictures/Symbols"
Hey LartTyler,

Would it be possible to add a database of pictures of the monsters? Thought I'd ask. Thanks

[2019-08-20 14:11] LartTyler commented on #45
It's something I'd like to do, but my focus has been on getting more information into the API. If you have a place I can easily source images from, or would like to provide them, I'd be happy to add it to my backlog so I can get to it in a future update.

[2019-08-20 16:37] chrisdavidmeek commented on #45
Funny you should ask because I actually am scouring the internet for ong
files of the monsters. I'm assigning them numerically based on the Id! I'll
send it over when I have all of them.

On Tue, Aug 20, 2019, 10:11 AM Tyler Lartonoix <notifications@github.com>
wrote:

[2019-11-12 05:33] povertycycle opened #48 "Iceborne"
Is it possible for us to get Iceborne data?

[2019-11-12 20:36] povertycycle opened #49 "Diablos Wall 2 type"
should be charge-blade instead of switch-axe

[2019-11-13 03:13] povertycycle opened #50 "Weapon types"
Some of the weapon have wrong types/ wrong id of previous upgrade

[2019-11-15 15:08] LartTyler commented on #48
We're in the process of getting Iceborne data added to the API. Armor should be completely added, as well as some items. I'm happy to update this thread as data entry progresses!

[2019-11-15 15:11] LartTyler commented on #49
Should be fixed now!

[2019-11-15 15:11] #49 closed

[2019-11-15 15:14] LartTyler commented on #50
Currently, weapons with affinity values that aren't zero should have affinity stored at `attributes.affinity` (i.e. [Girros Blade 1](https://mhw-db.com/weapons/26)). I do plan on moving it out into a top level field in the future, as I work on removing the `attributes` object, but for now you can find it in there.

Do you have a list of any weapons you've found with incorrect types or incorrect ba

[2019-11-15 18:25] povertycycle commented on #48
Thank you very much! I hope I could help you but I am not experienced enough.

[2019-11-15 18:27] povertycycle commented on #50
My bad, I didn't see the affinity in the attributes object in the documentation website.
I will update further on any weapons that have incorrect types.

[2019-11-16 04:19] povertycycle commented on #50
Can you put on todo list updating the affinities of those weapon below zero? Like those with negative affinities?

[2019-11-23 23:34] kacperfleszar opened #51 "Retrieve API version"
Hi!

Is it possible to retrieve current API version by API call? Something like: `GET https://mhw-db.com/version`
I'm using your API in Java app and I would like to create some regression tests to check if something changes.

Thanks,
Kacper

[2019-11-24 17:51] pierretusseau opened #52 "Errors in some armor data"
Hello, so, building a webapp based on your API I found some misplaced armor-type items, here is the list

### Low rank
**153** : Kirin Leg Guards => Shoudl be legs not gloves
### High rank
**602** : Kirin Leg Guards Alpha => Should be legs not gloves
**607** : Kirin Leg Guards Beta => Should be legs not gloves
**700** : Vaal Hazak Mail Gamma => Should be chest not head
**726** : Xeno'jiiva Claws G

[2019-11-25 08:12] #52 closed

[2019-11-25 08:13] pierretusseau commented on #52
Not the good repo I'd say. My bad.

[2019-11-26 16:12] LartTyler commented on #51
It isn't currently possible, but I can add it to the backlog! I'll update this issue again once it's been added.

[2019-11-26 17:56] kacperfleszar commented on #51
Great, thanks for the answer!

[2019-12-16 14:39] DeveloperPaul123 commented on #45
@LartTyler I have a script that can pull icons from Kiranico. Are those icons something you could use?

[2019-12-16 15:50] LartTyler commented on #45
@DeveloperPaul123 Definitely something I could use. I'm not sure when I'll be able to add images / icons, since the contrib site doesn't support asset uploads right now, and I'd have to do it all by hand, but I'd definitely love to have something like that on hand for when I'm able to do that.

[2019-12-16 16:13] DeveloperPaul123 commented on #45
@LartTyler Ok I'll work on pull all the monster icons first and upload them as a zip here.

To clarify are you looking for actual images of the monsters? Or the monster icons? Or both?

[2019-12-16 18:16] LartTyler commented on #45
Both would be nice to have. At the moment, the API doesn't have any fields for monster images, so there's no rush to get that done. I don't plan on starting to work on support for that until after Iceborne's data is fully supported.

[2019-12-19 16:49] DeveloperPaul123 commented on #45
Attached is a zip file of all the monster thumbnails for the base game. I pulled these from Kiranico. They're all 512x512 png files. Kiranico doesn't have IB monster thumbnails yet. I can also pull thumbnails for all the weapons if that's desired.

[monsters.zip](https://github.com/LartTyler/MHWDB-Docs/files/3984634/monsters.zip)

[2020-01-03 00:31] adamabdelaziz opened #56 "Some monsters not returning any rewards"
Hey Im sort of new to this and only recently started using the API so maybe this has been asked somewhere else and I have not seen it

Currently there are quite a few monsters that simply do not have any rewards. For example Kulu Ya Ku or Jyuratodus.

I'm sure you are working on a ton of things since the master rank stuff is coming

[2020-01-03 22:13] LartTyler commented on #56
@adamabdelaziz Monster rewards is a more recent feature added to the API, and hasn't received much attention in terms of being populated. Since all of the data in the API is managed through the [contribution system](https://contrib.mhw-db.com/), complete information won't be available until someone can take the time to enter all the information. If you'd like to volunteer, send me an email at tyle

[2020-01-17 16:00] DeveloperPaul123 commented on #56
Is there any way to post to the data directly? It may be more time efficient to have a script that pulls this data from some source and then pushes it to the API.

[2020-01-17 16:26] LartTyler commented on #56
@DeveloperPaul123 There technically is, but I don't have any documentation written up for those endpoints. If you're interested in taking a stab at it, I'll type up some quick documentation and send it over to you.

At this point, I'm kinda holding out for the [WorldChunkTool](https://github.com/mhvuze/WorldChunkTool) to announce Iceborne support, so I can work out some automated process for extra

[2020-01-17 16:57] DeveloperPaul123 commented on #56
I wouldn't mind taking a look at that documentation if you could send it over. I have some scripts already to pull data from the MHW site and kiranico and will be expanding them.

Waiting for the `WorldChunkTool` makes sense though.

Would supporting contributions from a mobile app be something that you're interested in for the API? I know right now you have the contribution website, but I could a

[2020-01-17 19:59] LartTyler commented on #56
@DeveloperPaul123 Just sent you an email with information on the endpoints. Let me know if you have any questions.

[2020-01-17 20:12] DeveloperPaul123 commented on #56
@LartTyler Got it thanks!

[2020-02-23 20:24] DeveloperPaul123 opened #58 "Many Missing Ammo Types in Documentation"
The docs for ammo type are missing many types.

![image](https://user-images.githubusercontent.com/6591180/75119405-9a0ae880-5650-11ea-9ac9-b1cebb221fd3.png)

[2020-02-26 16:44] LartTyler commented on #58
@DeveloperPaul123 I'm not so familiar with bowguns, but I'm looking at the ammo types (in the "Ammo Types" section [here](https://monsterhunterworld.wiki.fextralife.com/Heavy+Bowgun)) and everything appears to be included. Do you have a few examples of missing types?

[2020-02-26 16:48] DeveloperPaul123 commented on #58
Ok apparently I was being really dumb when I first read this and didn't realize column 3 were also separate types. I read each row as a _single_ ammo type 🤦‍♂.

Sorry! Everything seems to be included.

[2020-02-26 16:48] #58 closed

[2020-03-02 09:23] KamiNasri opened #60 "No Event rewards"
Is it possible to request for Event rewards or just Event special rewards so you could know which events give special tickets etc. Would be a nice improvement.

[2020-03-02 13:09] DeveloperPaul123 commented on #60
This is already logged [here](https://github.com/LartTyler/MHWDB-API/issues/138). Please check the API issues before logging an issue on the documentation repository, otherwise issues regarding the API itself should be filed [here](https://github.com/LartTyler/MHWDB-API/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc). Thanks!

[2020-03-02 13:22] LartTyler commented on #60
As @DeveloperPaul123 mentioned, this is a duplicate of LartTyler/MHWDB-API#138. The next update should include support for quests, with events including relevant quest information (such as rewards). Your best bet would be to follow the linked issue for updates!

[2020-03-02 13:22] #60 closed

[2020-03-27 23:17] mitchjmac commented on #51
Adding on to this, curious as to what typically motivates a version change? Just updates to the structure of the data? Or additions to the data itself: new armor, weapons, etc?

[2020-03-28 00:21] DeveloperPaul123 commented on #51
For the most part it's data schema changes or data field deprecation/removals. @LartTyler Can advise in more detail.

[2020-03-29 07:01] mitchjmac commented on #51
That's all I needed to know, thanks!

[2020-03-29 15:54] LartTyler commented on #51
Specifically, patch versions (e.g. 1.18.x) are generally reserved for fixes to things. So if validation is wrong for an object, or if the data it's returning isn't a consistent shape, that'll be part of a patch release. A minor version (e.g. 1.x) generally contains new features or fields / objects. It can also contain deprecations for older features that are being replaced, with old deprecated fea

[2020-03-29 16:22] DeveloperPaul123 commented on #51
@LartTyler Since you closed this issue, does it mean it's now possible to retrieve the version of the API?

[2020-03-29 16:22] LartTyler commented on #51
Nope, it was a misclick. Thanks for pointing it out!

[2020-04-14 01:13] DeveloperPaul123 opened #62 "Incorrect Table Formatting for Weapon Shelling Type"
See below:

![image](https://user-images.githubusercontent.com/6591180/79175399-9b909b80-7dcb-11ea-8a87-28653a0c5e64.png)

[2020-04-20 08:45] valch1992 opened #63 "iceborne monster data not complete"
Hello, either im experiencing some kind of error or more than half of the iceborne monsters are missing, for example: monsters/46 and 47 are not found but i can access monsters like rajang or viper tobi kadachi.

[2020-04-20 15:34] DeveloperPaul123 commented on #63
No, you are correct. Many of the monsters are missing. I'm working on adding the rest of the IB monsters. They should be added soon.

[2020-04-21 09:43] valch1992 commented on #63
thank you for the fast response. are you adding them manually?

[2020-04-21 13:09] DeveloperPaul123 commented on #63
No, I'm going to be pushing the data using a script.

[2020-05-20 06:09] VinsGecko commented on #63
Any news @DeveloperPaul123 ?

[2021-10-25 17:52] ghost opened #66 "Large Queries Deliver Partial JSON"
When attempting to fetch a large query, such as [https://mhw-db.com/armor](https://mhw-db.com/armor), the request just cuts off in the middle, producing invalid JSON, and an incomplete request. The cutoff point is right in the middle of a word:

`"description":"Pukei-Pukei material. Obtained by carving its se`

This used to work fine, and would deliver the list of armor.

[2021-10-26 15:49] #66 closed, assigned to nobody